body {
    background-color: #0f172a;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 100%;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
    color: #cbd5f5;
}